@model LogInInfoDetails.Models.AppUser

@{
    Layout = null;
    List<SelectListItem> logIns = ViewBag.LogIn;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
<div class="container container-fluid">
    @using (Html.BeginForm("LogIn","LogIn",FormMethod.Post, @Html.ValidationSummary(true)))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>User SignIn</legend>
        
            <table class="table table-borderless">
                <tr>
                    <td>@Html.LabelFor(l => l.Email)</td>
                    <td>@Html.TextBoxFor(t => t.Email)</td>
                    <td>@Html.ValidationMessageFor(v => v.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.Password)</td>
                    <td>@Html.PasswordFor(t => t.Password)</td>
                    <td>@Html.ValidationMessageFor(v => v.Password)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(l => l.LogInAs)</td>
                    <td>@Html.DropDownListFor(d => d.LogInAs, logIns, "Value", "Text")</td>
                    <td>@Html.ValidationMessageFor(v => v.LogInAs)</td>
                </tr>
                <tr>
                    <td colspan="2" class="align-content-center"><input type="submit" value="LogIn" /></td>
                </tr>
            </table>
        </fieldset>
    }
</div>
</body>
</html>
